#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.first-name,
.last-name {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#submit {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border: 2px solid rgb(73, 167, 255);
    color: rgb(73, 167, 255);
    border-radius: 10px;
}

#submit:hover {
    background-color: rgba(73, 167, 255, 0.119);
}

input {
    padding: 10px;
    border: 2px solid rgb(73, 167, 255);
    border-radius: 10px;
    
}